body {
    text-align: center;
}

.button {
    display: inline-block;
    max-width: 100%;
    padding: 20px 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #42aaff;
    border: 2px solid #42aaff;
    border-radius: 4px;
    transition: color .3s, background-color .3s;
    cursor: pointer;
    outline: 0 !important;
    text-decoration: none;
    touch-action: manipulation;
    user-select: none;
}

.button:hover,
.button:active {
    color: #42aaff;
    background-color: #fff;
}

.stopwatch {
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
}